@import "./index.scss";

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

html, body {
    margin:0;
    padding:0;
}

body {
  background-color: $appDefaultBg;
  background: $appBgGradient;
}

.Page-Content {
  margin: 0;
  min-height: calc(100vh - #{$navbarHeight});
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.WIP-Content {
  background-color: $appBgGradient;
  background: $appBgGradient;
  height: calc(100vh - #{$navbarHeight});
  min-height: calc(100vh - #{$navbarMaxHeight});
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}


.App-title {
  font-size: calc(18px + 5vw);
}

.App-subtitle {
  font-size: calc(10px + 1.5vw);
  color: $appTextGrey;
  position: relative;
  top: 10px;
  font-family: $subtitleFont;
}

.Particles-background {
  position : absolute;
  width: 100%;
  height: 100%;
}

.App-link {
  color: #62dafb;
}
