.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #191919;
  background: linear-gradient(to bottom, #191919 50%, #000000 150%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: calc(18px + 5vw);
}

.App-subtitle {
  font-size: calc(10px + 1.5vw);
  color: #ABABAB;
  position: relative;
  top: 10px;
  font-family: 'Libre Caslon Display', serif;
}

.App-subtitle-animation {
  opacity: 0;
  animation: fadeIn ease-out 0.7s forwards;
  -webkit-animation: fadeIn ease-out 0.7s forwards;
}

.delay-half {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.delay-one {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.delay-onehalf{
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.Particles-background {
  position : absolute;
  width: 100%;
  height: 100%;
}

.App-link {
  color: #62dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* safari support */
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
