// Override default variables before the import

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Libre+Caslon+Display|Playfair+Display|Satisfy&display=swap);

// Constants
$appDefaultBg: #191919;
$appBgGradient: linear-gradient(to bottom, #191919 50%, #000000 150%);
$appTextGrey: #ABABAB;
$navbarHeight: 10vh;
$navbarMaxHeight: 100px;

$subtitleFont: 'Libre Caslon Display', serif;

//Note: You must prefix imports from node_modules with ~ as displayed above.
.navbar {
  height: $navbarHeight;
  max-height: $navbarMaxHeight;
  background-color: $appDefaultBg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .navbar-brand {
    transform: rotate(-15deg);
    color: white;
    &:hover {
      color: $appTextGrey;
    }
    font-size: calc(15px + 1.5vmin);
    // padding-top: 15px; // Reuqired to align the home link with rest of the menu
  }
}
.navbar-light .navbar-text {
  a {
    color: white;
    padding: 15px;
    &:hover {
      color: $appTextGrey;
    }
    // font-family: $subtitleFont;
    font-size: calc(8px + 1.2vmin);
    text-decoration-line: none;
  }
}
.menuBar {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px
}
