// Override default variables before the import

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Libre+Caslon+Display|Playfair+Display|Satisfy&display=swap);

// Constants
$appDefaultBg: #191919;
$appBgGradient: linear-gradient(to bottom, #191919 50%, #000000 150%);
$navbarHeight: 7.5vh;
$navbarMaxHeight: 50px;

$subtitleFont: 'Libre Caslon Display', serif;

//Note: You must prefix imports from node_modules with ~ as displayed above.
.navbar {
  height: $navbarHeight;
  max-height: $navbarMaxHeight;
  background-color: $appDefaultBg;
  .navbar-brand {
    color: white;
    &:hover {
      color: grey;
    }
    font-size: calc(12px + 1.5vmin);
    padding-top: 10px; // Reuqired to align the home link with rest of the menu
  }
}
.navbar-light .navbar-text {
  a {
    color: grey;
    &:hover {
      color: white;
    }
    font-family: $subtitleFont;
    font-size: calc(12px + 1.2vmin);
    text-decoration-line: none;
  }
}
